<form action = "city" method="post">
	<br></br>
	What City?
	<input type="text" name = "input" placeholder="Put your city name in here!" size='40'>
	<br><br></br></br>
	<br><input type="submit" value="Get me the time!!!" style = "margin-left:150px"></br>
</form>

